*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 15px lightblue;
}
.nav-tools ul{
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: gray;
}
.enquiry-btn >button, .btn-container>button{
    background: rgb(237,246,8);
background: linear-gradient(14deg, rgba(237,246,8,1) 0%, rgba(244,143,20,1) 35%, rgba(246,27,8,1) 100%);
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}
img{
    height: 100px;
}
li{
    list-style: none;
}
select{
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    color: gray;
    background: transparent;
}
select:hover{
color: navy;
}
li:hover{
    color: navy;
}

main{
   
    padding: 50px;
    min-height: 400px;
    display: flex;
    justify-content: center;
}
form{
    width: 360px;
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
background: #ffffff;
box-shadow:  2px 2px 50px lightblue,
             -20px -20px 50px #ffffff;
}
.input-container{ 
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn-container{   
    display: flex;
    justify-content: center;
}

input{
    padding: 10px;
}
